<div class="container">
  <div class="row">
    <div class="col">
        <select class="form-control" [(ngModel)]="timeUpdate" (change)="updateInterval()">
            <option value="3" selected>refrescar en 3 seg.</option>
            <option value="5">refrescar en 5 seg.</option>
            <option value="10">refrescar en 10 seg.</option>
            <option value="15">refrescar en 15 seg.</option>
            <option value="30">refrescar en 30 seg.</option>
          </select>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col text-right">
        <ngbd-buttons-radio></ngbd-buttons-radio>
    </div>
  </div>
  <div class="row">
    <div class="col-6" *ngFor="let log of logs; let i = index">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-truncate">{{log.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <small>
              ({{log.weathersdatas[log.weathersdatas.length-1].data.main.temp | tempConverter:temp}}º{{temp | uppercase}})
            </small><br>
          </h6>
          <button type="button" class="btn btn-light" (click)="hideme[i] = !hideme[i]">
              <label [hidden]="!hideme[i]">Ver logs</label>
              <label [hidden]="hideme[i]">Ocultar logs</label>
          </button>
          <div class="scroll-100">
            <h6 class="text-center text-truncate" [hidden]="hideme[i]" *ngFor="let weather of log.weathersdatas | reverse">
              {{weather.data.main.temp | tempConverter:temp}} º{{temp | uppercase}}
              <small>({{weather.date | date:'mediumTime'}})</small></h6>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>
